.navigation {

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;
        text-align: center;
        cursor: pointer;

        @include respond(tab-port) {
            top: 4rem;
            right: 4rem;
        }

        @include respond(phone) {
            top: 3rem;
            right: 3rem;
        }
    }

    &__background {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        z-index: 1000; // Note - z-index does not work without when position is not defined 
        transition: transform 0.6s cubic-bezier(0.85, 0, 0.15, 1); // from website call easings.net

        // transform: scale(100); for design checking purspose 
        @include respond(tab-port) {
            top: 4.5rem;
            right: 4.5rem;
        }

        @include respond(phone) {
            top: 3.5rem;
            right: 3.5rem;
        }

    }

    &__nav {
        height: 100vh;
        // width: 100%; for checking purpose
        opacity: 0;
        width: 0; // if we set opacity 0 still the anclor symbol is showing even if it is hidden so we set width 0 as well 
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    &__list {
        @include absCenter;
        list-style: none;
        text-align: center;
        text-transform: uppercase;

        display: inline-block;
        width: 40%;

        @include respond(tab-port) {
            width: 50%;
        }

        @include respond(phone) {
            width: 85%;
        }

    }

    &__item {
        margin: 1rem;

    }

    &__link {

        &:visited,
        &:link {
            display: inline-block;
            // width: 95%;
            font-size: 3rem;
            font-weight: 300;
            text-decoration: none;
            padding: 1rem 2rem;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 230%;
            transition: all 0.5s;
            color: $color-white;

            span {
                display: inline-block;
                margin-right: 1.5rem;
            }




            &:hover,
            &:active {
                background-position: 100%;
                color: $color-primary;
                // transform: translateX(5%);
                transform: translateX(1rem);
            }

        }

    }

    // Functionality
    &__checkbox:checked~&__nav {
        opacity: 1;
        width: 100%;
    }

    &__checkbox:checked~&__background {
        transform: scale(100);
    }

    // Nav Icon

    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block; // span is inline element, width cannot be define to it, thats why i change the property to inline block
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all 0.3s;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }
    }


    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }


    &__checkbox:checked+&__button &__icon {
        background: transparent; // for hiding the middle line
    }

    &__checkbox:checked+&__button &__icon:before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked+&__button &__icon:after {
        top: 0;
        transform: rotate(-135deg);
    }
}